*{
    font-family: 'Montserrat', sans-serif;
}
body {
    background: linear-gradient(to right, rgba(168, 241, 222, 1), rgba(249, 191, 189, 0.2), rgba(241, 255, 238, 1));
}

html,
body {
    height: 100%;
}

.container-fluid>.row {
    height: 100%;
    display: flex;
    width: 100%;
    margin: 0%;
}
.container{
    display: flex;
    width: 70%;
    height:80%;
    margin: auto;
    padding: 0px;
    border-radius: 20px;
}
.container >.row {
    height: 100%;
    display: flex;
    width: 100%;
    margin: 0%;
}
.nav-div {
    background-color: rgba(255, 255, 255, 1.0);
    padding: 10px;
    height: 100%;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #a9acb7;
    position: relative;
    font-size: 15px;
    margin-bottom: 2px;
}

.nav-link:hover,
.nav-link:active {
    color: #4dc591;

}

.nav-link i {
    margin-right: 8px;
}

.content-div {
    padding: 0px;
    flex-grow: 1;
}

.main-titles {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 1px;
    margin-bottom: 0;
}

#dashboard {
    max-width: 100%;
    margin: 0;

}

ul.nav {
    text-align: center;
    margin: 7px;
}

.card {
    min-height: 170px;
    /* Allow the card to grow based on content */
    max-height: 500px;
    /* Set a minimum width for the cards */
    width: 300px;
    padding: 10px;
    /* Add padding for internal spacing */
    margin: auto;
}

.card-body {
    padding: 0;
}
.card-body>img{
    margin-bottom: 5px;
}
.progress {
    height: .2rem;
    width: 80%;
    display: inline-flex;
}

.progress-bar {
    background-color: #4dc591;
}
.btn-upgrade,.btn-login{
    background-color: #4dc591;
    color: white;
    border-radius: 7px;
    width: 170px;
    margin-left: 10px;
}
.btn-login{
    margin-left: 0px;
    text-align: center;
    width: 80%;
}
.btn-upgrade:hover {
    background-color: #45b183; /* Darker shade for hover effect */
    color: white;
}

.enroll-button {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card:hover .enroll-button,
  .card:focus .enroll-button {
    display: block;
    opacity: 1;
  }
  
  .card .enroll-button.visible {
    display: block;
    opacity: 1;
  }
  
  input:-internal-autofill-selected {
    background-color: #fff !important;
  }

  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-color: #fff !important;
  color: #000 !important; /* Ensuring the text color is consistent */
}

  .custom-input {
    border: none;
    background-color: #fff;
    color: #333;
    padding: 5px;
    padding-left: 0px;
    border-radius: 5px;
    width: 70%;
    box-sizing: border-box;
    height: 20px;
}

.custom-input:focus {
    outline: 0;
    background-color: #fff;
}
.error{
    font-size: 12px;
}
.form-control{
    font-size: 11px !important;
}
fieldset {
    border: 1px solid #f4f4f4;
    border-radius: 10px; 
    width: 80%; 
    padding-left: 15px;
    padding-bottom: 10px; 
    padding-top: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
label{
    font-size: 11px;
    margin-bottom: 0px; 
    color: #b4b3b8; 
}